body {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.slideshow-container {
   position: relative;
    width: 640px;
    height: 480px;
    background: url('img/brigade-20489_1920.jpg');
    background-size: 640px 480px;
    background-repeat: no-repeat;
    background-position-x: center;
    /* transition: all .5s ease; */
}

.slideshow-container:hover {
   
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)), url('img/brigade-20489_1920.jpg');
    background-size: 700px 525px;
    background-repeat: no-repeat;
    background-position: center;
}

.slideshow-container:hover > .text {
    opacity: 1;
}

.text {
    position: absolute;
    font-size: 5rem;
    color:white;
    z-index: 1000;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    transition: all .5s ease;
    opacity: 0;

}
